## Node
node_modules

## Config files
.eslintrc.cjs
cypress.config.ts
env.d.ts
postcss.config.js
tailwind.config.js
tsconfig.app.json
tsconfig.config.json
tsconfig.json
tsconfig.vitest.json
vite.config.ts
